body{
  font-family: sans-serif;
  font-size:110%;
  font-size: 14px;
  color: black;
  background-color: white;
}

#container {
  display: flex;
}

#box1 {
  border: 1px solid black;
  padding: 10px;
  flex: 3;
}

#box2 {
  border: 1px solid black;
  padding: 10px;
  flex: 2;
}

#box3 {
  border: 1px solid black;
  padding: 10px;
  flex: 1;
}

#myProfilePhoto {

  width: 20%;
  height: 20%;
  border-radius: 40%;
  border: 5px solid navy;
}

#sidebar {
  width: 20%;
  background-color:rgb(250, 215, 222);
  padding: 4rem;
  color: black;
}

.navMenu{
  list-style-type: none;
  padding: 0%;
}

#header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 110%;
}

h1 {
  color: #ffc;
  background-color: #009;
}

h2 {
  border-style: solid;
  border-width: 2px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: navy; 
}

h3 {
  color: black;
}

.icon {
  width: 4rem;
  margin: 1rem;
  height: auto;
}


header {
  text-align: center;
  background-color: silver;
}

footer {
  background-color: #343330;
  text-align: center;
}
